In [1]:
import csv

In [7]:
try:
    with open(FILE_PATH, mode='r', encoding='utf-8') as file:
        csv_reader = csv.reader(file)

        # Read the header to find column indices
        header = next(csv_reader)
        price_index = header.index('price')
        borough_index = header.index('neighbourhood_group')

        print(f"Header: {header}\n")
        print("--- Checking the first 10 listings for affordable options (< $100) ---")

        for i, row in enumerate(csv_reader):
            if i >= 10:
                break

            price = int(row[price_index])
            borough = row[borough_index]

            if price < 100:
                print(f"Row {i+1}: Found an affordable listing in {borough} for ${price}.")
            else:
                print(f"Row {i+1}: Listing in {borough} costs ${price}.")

except Exception as e:
    print(f"An error occurred: {e}")

Header: ['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']

--- Checking the first 10 listings for affordable options (< $100) ---
Row 1: Listing in Brooklyn costs $149.
Row 2: Listing in Manhattan costs $225.
Row 3: Listing in Manhattan costs $150.
Row 4: Found an affordable listing in Brooklyn for $89.
Row 5: Found an affordable listing in Manhattan for $80.
Row 6: Listing in Manhattan costs $200.
Row 7: Found an affordable listing in Brooklyn for $60.
Row 8: Found an affordable listing in Manhattan for $79.
Row 9: Found an affordable listing in Manhattan for $79.
Row 10: Listing in Manhattan costs $150.

In [2]:
FILE_PATH = 'AB_NYC_2019.csv'

In [8]:
FILE_PATH = 'AB_NYC_2019.csv'

try:
    with open(FILE_PATH, mode='r', encoding='utf-8') as file:
        csv_reader = csv.reader(file)

        # Read the header to find column indices
        header = next(csv_reader)
        price_index = header.index('price')
        borough_index = header.index('neighbourhood_group')

        print(f"Header: {header}\n")
        print("--- Checking the first 10 listings for affordable options (< $100) ---")

        # Loop through the first 10 data rows
        for i, row in enumerate(csv_reader):
            if i >= 10:
                break

            price = int(row[price_index])
            borough = row[borough_index]

            if price < 100:
                print(f"Row {i+1}: Found an affordable listing in {borough} for ${price}.")
            else:
                print(f"Row {i+1}: Listing in {borough} costs ${price}.")

except FileNotFoundError:
    print(f"Error: The file '{FILE_PATH}' was not found. Please check the name and location.")

Header: ['id', 'name', 'host_id', 'host_name', 'neighbourhood_group', 'neighbourhood', 'latitude', 'longitude', 'room_type', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'calculated_host_listings_count', 'availability_365']

--- Checking the first 10 listings for affordable options (< $100) ---
Row 1: Listing in Brooklyn costs $149.
Row 2: Listing in Manhattan costs $225.
Row 3: Listing in Manhattan costs $150.
Row 4: Found an affordable listing in Brooklyn for $89.
Row 5: Found an affordable listing in Manhattan for $80.
Row 6: Listing in Manhattan costs $200.
Row 7: Found an affordable listing in Brooklyn for $60.
Row 8: Found an affordable listing in Manhattan for $79.
Row 9: Found an affordable listing in Manhattan for $79.
Row 10: Listing in Manhattan costs $150.