In [1]:
import csv

In [16]:
import pandas as pd

# Load the data into a pandas DataFrame
df = pd.read_csv(FILE_PATH)

print("Data loaded into pandas DataFrame.")
display(df.head())

Data loaded into pandas DataFrame.

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [17]:
df.fillna({'reviews_per_month': 0}, inplace=True)
df.drop(['name', 'host_name', 'last_review'], axis=1, inplace=True)
print("Data cleaned.\n")

Data cleaned.

In [18]:
borough_stats = df.groupby('neighbourhood_group')['price'].agg(['mean', 'min', 'max'])
print("--- Price Statistics by Borough ---")
print(borough_stats)
print("\n")

--- Price Statistics by Borough ---
                           mean  min    max
neighbourhood_group
Bronx                 87.496792    0   2500
Brooklyn             124.383207    0  10000
Manhattan            196.875814    0  10000
Queens                99.517649   10  10000
Staten Island        114.812332   13   5000

In [19]:
top_10_reviewed = df.nlargest(10, 'number_of_reviews')
print("--- Top 10 Most Reviewed Listings ---")
print(top_10_reviewed[['neighbourhood', 'room_type', 'price', 'number_of_reviews']])

--- Top 10 Most Reviewed Listings ---
         neighbourhood        room_type  price  number_of_reviews
11759          Jamaica     Private room     47                629
2031            Harlem     Private room     49                607
2030            Harlem     Private room     49                597
2015            Harlem     Private room     49                594
13495          Jamaica     Private room     47                576
10623    East Elmhurst     Private room     46                543
1879   Lower East Side     Private room     99                540
20403    East Elmhurst     Private room     48                510
4870        Park Slope  Entire home/apt    160                488
471           Bushwick     Private room     60                480